body {
    background-color: rgb(37, 40, 42);
}


   .slider_picture {
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider_picture:before {
    background-color: #22130c;
    bottom: -2.5em;
   
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}
.slider_picture:after {
    
    bottom: -1.5em;
    
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}
.slider_picture li {
   
    list-style: none;
    position: absolute;
}
.slider_picture input {
    display: none;
}
.slider_picture label {
    
    background-color: rgb(113, 71, 254);
    
    border: .1em solid transparent;
    bottom: -2.5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .7em;
    width: .7em;
    opacity: 1;
    position: absolute;
   
    z-index: 10;
}

.slider_picture label:hover {
    background-color: white;
}
.slider_picture label:after {
    border-radius: 100%;
    bottom: -.2em;
   
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
/* .slider_picture:hover label {
    opacity: 1;
    visibility: visible;
} */
.slider_picture input:checked + label {
    
    border-color: rgb(113, 71, 254);
    background-color: rgb(37, 40, 42);
}
.slider_picture li:nth-child(1) label {
    left: 32.5em;
    bottom: -2.65em;
}
.slider_picture li:nth-child(2) label {
    bottom: -3.05em;
    left: 34em;
}
.slider_picture li:nth-child(3) label {
    left: 35.5em;
}
.slider_picture li:nth-child(4) label {
    left: 37em;
} 
.slider_picture img {
    border-radius: 3%;
    height: auto;
    opacity: 0;
    transition: .5s;
    width: 100%;
    vertical-align: top;
    visibility: hidden;
}
.slider_picture li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider_picture .text {
    color: white;
    opacity: 0;
    transition: .5s;
    position: absolute;
    visibility: hidden;
    bottom: -2.2em;
    font-size: 20px;
}

.slider_picture li input:checked ~ .text {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    
}

.slider_picture li:nth-child(2) .text {
    bottom: -2.6em;
    
}